/*register*/

span:hover {
  cursor: pointer;
  color: rgb(220, 193, 87);
}

.body-reg {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(/image/pexels-photo-7014865.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.content-reg {
  display: flex;
  align-content: center;
  justify-content: center;
}

.formWraper {
  display: flex;
  width: 55%;
  height: 550px;
  background-color: rgb(80, 15, 71);
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 20x black;
  padding: 3px;
}

.formDiv {
  width: 50%;
  padding: 8%;
  background-color: white;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}

.formDiv h2 {
  color: rgb(73, 15, 70);
  margin-top: -5px;
  margin-bottom: 10px;
}

.welcomeDiv {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.322);
}

.content_w_d {
  background-image: url(image/pexels-photo-4145347.jpeg);
  background-size: cover;
}

.welcomeDiv h2 {
  margin-top: 150px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  padding: 70px;
}

/*icon*/

.socialBtn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.socialBtn ul {
  list-style: none;
  padding-left: 10px;
}

.socialBtn ul li {
  display: inline-block;
  cursor: pointer;
  margin: 25px 15px;
}

.socialBtn img {
  width: 30px;
  height: 30px;
}

.ll i {
  margin-left: 8px;
}

.text-reg {
  font-size: small;
  margin: 10px;
}

.formGroup {
  width: 100%;
  position: relative;
}

.formGroup input {
  width: 93%;
  padding: 10px;
  margin-bottom: 5px;
  text-indent: 20px;
  border-radius: 30px;
  border: 1px solid rgba(167, 165, 165, 0.287);
}

.formGroup i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: rgba(128, 128, 128, 0.335);
  font-size: smaller;
}

input::placeholder {
  position: relative;
  left: 20px;
}

.checkBox {
  width: 100%;
  margin-top: 2px;
}

.btn-reg {
  width: 50%;
  padding: 15px;
  text-align: center;
  background-color: rgb(73, 22, 88);
  color: white;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
}

.btn-reg2 {
  background-color: transparent;
  border: 2px solid black;
  width: 50%;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
}

.btn-reg:hover,
.btn-reg2:hover,
.icon:hover {
  background-color: rgb(83, 13, 116);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .formDiv {
    width: 90%;
    border-radius: 10px 10px 10px 10px;
  }

  .welcomeDiv {
    display: none;
  }
}
